.inline-gradient {
    -webkit-mask: linear-gradient(270deg, transparent, #000 150%);
    mask: linear-gradient(270deg, transparent, #000 150%);
}

.b-gradient {
    -webkit-mask: radial-gradient(65% 65% at 50% 40%, rgba(0, 0, 0, .9) 35%, transparent 100%);
    mask: radial-gradient(65% 65% at 50% 40%, rgba(0, 0, 0, .9) 35%, transparent 100%);
}


.card-meet-svg {
    width: 100%;
    height: 100%;
    -webkit-mask: radial-gradient(50% 50% at 50%, rgba(0, 0, 0, .7) 35%, transparent 100%);
    mask: radial-gradient(50% 50% at 50%, rgba(0, 0, 0, .7) 35%, transparent 100%);
}

.card-smart-svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


