.line-column-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    -webkit-mask: radial-gradient(60% 60% at 50%, rgba(0, 0, 0, .9) 35%, transparent 100%);
    mask: radial-gradient(60% 60% at 50%, rgba(0, 0, 0, .9) 35%, transparent 100%);
}

.line-column-icons{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: -1rem;
}


.line-column-icons:nth-child(2n){
    padding-top: 2rem;
}

.m-card-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.m-card-icon svg{
    width: 2rem;
    height: 2rem;
    color: rgb(167, 167, 167);
    transition: all 0.3s ease-in-out;
}
.m-card-icon:hover svg{
    color: rgb(255, 255, 255);
}

@media (min-width: 640px) {
    .line-column-icons:first-child {
        margin-left: 2rem;
    }
    .line-column-icons:last-child {
        margin-right: 2rem;
    }
}



.m-card-icon{
    transition-duration: .2s;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    --tw-ring-color: hsla(240, 5%, 96%, .1);
    background-color: rgb(9 9 11 / var(--tw-bg-opacity));
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}